@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  color: #fe951d;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  }

  ul {
    justify-content: space-between;
  }

  .fa-brands fa-instagram fa-2xl {
    margin-left: 15px;
    margin-right: 15px;
  }

  .fa-brands fa-facebook fa-2xl {
    size: 150px;
  }

  .icons {
    justify-content:space-between;
  }

  .circulo {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .circulo img {
    width: 70%;

  }
  .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  
  .logo img {
    width: 40%;
  }

  nav {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #FF9629;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    color: #EBC634;
  }

/* __________________________________________________________________________ */
/* Responsividade */

@media screen and (max-width: 1110px) {
  header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
  }
  .logo {
    width: 50%;
    margin-bottom: 30px;
    padding-top: 10px;

  }

  .circulo {
    display: none;
  }
  nav {
    width: 100%;

  }
}


/* home */
/* @font-face {
  font-family:'Keep';
  src: url('fonts/KeeponTruckin.ttf') format('truetype'), url('fonts/KeeponTruckin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */

main, section {
  height: 73vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.conteudo {
  width: 90%;
  margin: auto;
  max-width: 800px;
}

.conteudo h1 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.conteudo p {
  line-height: 2rem;
}

.cta {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 600;
  background-color: rgb(255, 238, 60);
  padding: 1.15rem 1.8rem;
  line-height: 5.5rem;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cta ::before {
  content: "+";
  margin-right: 0.8rem;
}

.verde-agua {
  background-color: #26ccca;
  color: white;
}

#ux {
  color: white;
  background-image: url(Design\ sem\ nome\ \(5\).png);
}

#motion {
  background-image: url(paruqe\ aquatico\ 2.jpg);
  background-size: cover;
  background-position-x: center;
}

#brand {
  background-image: url(Design\ sem\ nome\ \(6\).png);
  color: white;
}

.texto {
  color: #999;
}

#print {
  color: white;
  background-image: url(TOBOGIS.avif);
  background-size: cover;
  background-position-x: center;
}

#produto {
  background-image: url(onda\ inicial.png);
  background-size: cover;
  background-position-x: center;
}

#produto, #motion, #print {
  background-attachment: fixed;
}

.conteudo {
  width: 50%;
  max-width: 800px;
  margin: 0;
  margin-left: 4rem;
}

/* __________________________ */
  /* Footer */
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 50px;
  }
  
  .footer p{
    color: #8a8a8a;
  }
  .footer h3{
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  .footer-col-1 {
    flex-basis: 30%;
  }
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  .footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
  }
  .footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  ul {
    list-style: none;
  }
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  .copyright {
    text-align: center;
  }

  
  /* Redes sociais */
  .social-bar {
    height: 50px;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* Menu */
.titulos {
    font-size: 18px;
}
.titulos a {
    padding: 10px;
}
