@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 180px;
  color: #fe951d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  }

  .circulo {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .circulo img {
    width: 50%;

  }
  .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  
  .logo img {
    width: 40%;
  }

  nav {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #FF9629;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    color: #EBC634;
  }

/* __________________________________________________________________________ */
/* Responsividade */

@media screen and (max-width: 1110px) {
  header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
  }
  .logo {
    width: 50%;
    margin-bottom: 30px;
    padding-top: 10px;

  }

  .circulo {
    display: none;
  }
  nav {
    width: 100%;

  }
}


/* home */
/* @font-face {
  font-family:'Keep';
  src: url('fonts/KeeponTruckin.ttf') format('truetype'), url('fonts/KeeponTruckin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */

main, section {
  height: 73vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.conteudo {
  width: 90%;
  margin: auto;
  max-width: 800px;
}

.conteudo h1 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.conteudo p {
  line-height: 2rem;
}

.cta {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 600;
  background-color: rgb(255, 238, 60);
  padding: 1.15rem 1.8rem;
  line-height: 5.5rem;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cta ::before {
  content: "+";
  margin-right: 0.8rem;
}

.verde-agua {
  background-color: #26ccca;
  color: white;
}

#ux {
  color: white;
  background-image: url(Design\ sem\ nome\ \(5\).png);
}

#motion {
  background-image: url(paruqe\ aquatico\ 2.jpg);
  background-size: cover;
  background-position-x: center;
}

#brand {
  background-image: url(Design\ sem\ nome\ \(6\).png);
  color: white;
}

.texto {
  color: #999;
}

#print {
  color: white;
  background-image: url(Design\ sem\ nome\ \(4\).png);
  background-size: cover;
  background-position-x: center;
}

#produto {
  background-image: url(imagens/h13-background-img-1-min.jpg);
  background-size: cover;
  background-position-x: center;
}

#produto, #motion, #print {
  background-attachment: fixed;
}

.conteudo {
  width: 50%;
  max-width: 800px;
  margin: 0;
  margin-left: 4rem;
}

/* Footer */
