@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  color: #fe951d;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  }

  .botoes {
    align-items: center;
  }

  .fa-brands fa-instagram fa-2xl {
    margin-left: 15px;
    margin-right: 15px;
  }

  .fa-brands fa-facebook fa-2xl {
    size: 150px;
  }

  .icons {
    justify-content:space-between;
  }

  .circulo {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .circulo img {
    width: 70%;

  }
  .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  
  .logo img {
    width: 40%;
  }

  nav {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #FF9629;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    color: #EBC634;
  }

/* __________________________________________________________________________ */
/* Responsividade */

@media screen and (max-width: 1110px) {
  header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
  }
  .logo {
    width: 50%;
    margin-bottom: 30px;
    padding-top: 10px;

  }

  .circulo {
    display: none;
  }
  nav {
    width: 100%;

  }
}
/* _______________________________________________________________________________ */

.sobre {
  color: rgb(3, 0, 0);
  font-size: 20px;
  padding: 10px;
}

.loja {
  color: #F1C043;
  font-size: 18px;
  padding: 10px;
}

.contato {
  color: #3ACBCB;
  justify-content: end;
  flex-direction: row;
  padding-top: 30px;
  font-size: 22px;
}

.principais {
  color: #F1C043;
  font-size: 25px;
}

.inferior {
  display: flex;
}
.lateral {
  margin-left: 50px;
  display: flex;
flex-direction: column;
justify-content: space-between;
}
.we {
  font-style: italic;
  color: #FFF2BC;
}
.pets {
  color: #F1C043;
}
.tit{
  display: flex;
  align-items: center;
  font-size: 165px;
}
.somos{
 
    margin-top: 80px;
    margin-left: 30px;
    font-size: 35px;
    color: #FF9629;
  
  }

  /* __________________________ */
  /* Footer */
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 50px;
  }
  
  .footer p{
    color: #8a8a8a;
  }
  .footer h3{
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  .footer-col-1 {
    flex-basis: 30%;
  }
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  .footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
  }
  .footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  ul {
    list-style: none;
  }
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  .copyright {
    text-align: center;
  }